:root {
  --backgroundColor: #262626;
  --textColor: #F2F2F2;
  --graticuleStroke: #E5E5E5;
  --countryFill: #404040;
  --countryStroke: #737373;
  --electionsFill: #FFA319;
  --electionsStroke: #CCCCCC;
  --selectedFill: #FF590C;
  --customSelectColor: #F2F2F2;
  --customSelectBackground: #262626;
  --popupBackgroundColor: rgba(38, 38, 38, 0.9);
  --popupBorderColor: #737373;
}

body {
  background: var(--backgroundColor);
}

svg {
  background: var(--backgroundColor);
}

@media (min-width: 576px) {
  div.container.mapcontainer {
    max-width: 760px;
  }
}
@media (min-width: 768px) {
  div.container.mapcontainer {
    max-width: 990px;
  }
}
@media (min-width: 992px) {
  div.container.mapcontainer {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  div.container.mapcontainer {
    max-width: 1500px;
  }
}

@media (min-width: 992px) {
  div.container {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  div.container {
    max-width: 800px;
  }
}

h1.mapTitle {
  color: var(--textColor);
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
}
h2.sideTitle {
  color: var(--textColor);
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
}
p.mapDescription {
  font-family: 'Merriweather', serif;
  color: var(--textColor);
  font-weight: 400;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 24px;
}
p.caption {
  font-family: 'Oswald', sans-serif;
  color: var(--textColor);
  font-weight: 200;
  font-size: 0.85em;
  margin-top: 5px;
  margin-bottom: 10px;
}
.caption a{
  text-decoration: underline;
  color: var(--textColor);
}
.graticule {
  fill: none;
  stroke: var(--graticuleStroke);
  stroke-width: .5px;
  stroke-opacity: .1;
}
.graticuleOutline {
  fill: none;
  stroke: var(--graticuleStroke);
  stroke-width: 0.5px;
  stroke-opacity: 0.2;
}
.country {
  fill: var(--countryFill);
  stroke: var(--countryStroke);
  stroke-width: 0.5;
}
.elections {
  fill: var(--electionsFill);
  stroke: var(--electionsStroke);
  stroke-width: 0.5;
}
.selected {
  fill: var(--selectedFill);
}
.national {
  fill: #FF0000;
}
#map {
  position: relative;
}
@media (min-width: 300px){
  #popup {
    width: 100px;
    left: 0em;
    top: 0.5em;
    padding: 5px;
  }
  #popup h1{
    font-size: 0.9em;
  }
  p.descriptionText {
    font-size: 0.7em;
  }
}
@media (min-width: 576px) {
  #popup{
    width: 150px;
    top: 1em;
    left: 1em;
    padding: 10px;
  }
  #popup h1{
    font-size: 1.1em;
  }
  p.descriptionText {
    font-size: 0.9em;
  }
}
@media (min-width: 768px) {
  #popup{
    width: 200px
  }
}
@media (min-width: 992px) {
  #popup{
    width: 250px
  }
}
@media (min-width: 1200px) {
  #popup{
    width: 300px
  }
}
#popup {
  background-color: var(--popupBackgroundColor);
  position: absolute;
  /* width: 250px; */
  height: auto;
  /* padding: 10px; */
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  /* pointer-events: none; */
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--popupBorderColor);
}
#popup.hidden {
  display: none;
}
p.descriptionText {
  font-family: 'Oswald', sans-serif;
  color: var(--textColor);
  font-weight: 300;
  /* font-size: 0.9em; */
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.25em;
}
p.descriptionText a {
  text-decoration: underline;
  color: var(--textColor);
}
#popup h1 {
  color: var(--textColor);
  font-weight: 400;
  /* font-size: 1.1em; */
  margin-top: 1px;
  margin-bottom: 2px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
p.notesText {
  color: var(--textColor);
  font-weight: 300;
  font-size: .75em;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.25em;
  font-family: 'Merriweather', serif;
}
.custom-select {
  background: var(--customSelectBackground);
  color: var(--customSelectColor);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 20px;
}
hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
hr.hidden {
  display:none;
}
