#map {
  height: 100%;
  width: 100%;
  position: absolute;
}
html, body {
  margin: 0;
  padding: 0;
}

/*.leaflet-container a {
  color: #7F7F7F
}
.leaflet-control-attribution {
  color: #7F7F7F
}
.leaflet-touch .leaflet-bar {
  border: 1px solid #7F7F7F
}*/

.leaflet-touch .leaflet-control-zoom-in {
  font-size: 1.5em;
}
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 1.5em;
}
.leaflet-bar a, .leaflet-bar a:hover{
  background-color: rgba(255,255,255,0.75);
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border-width: 1px;
}
.leaflet-control-attribution {
  color: #7F7F7F;
  font-size: 0.9em;
}
.leaflet-container a{
  color: #7F7F7F;
}
.leaflet-container {
  font-family: 'Neue Haas Unica W01 Regular', monospace;
}
.leaflet-popup-content h1 {
  font-family: 'Neue Haas Unica W01 Bold', monospace;
  font-size: 1.35em;
  margin: 5px 0;
}
.leaflet-popup-content p {
  margin: 5px 0;
}
.leaflet-popup-content-wrapper {
  background: white;
  color: black;
  border-radius: 0px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.2);
}
.leaflet-top .leaflet-control {
  margin-top: 2px;
}
.layer-control input {
  cursor: pointer;
  border-style: none;
  font-family: 'Neue Haas Unica W01 Regular', monospace;
  width: 80px;
  text-align: left;
  color: white;
}
#legal_toggle {
  background: #5db323
}
#enforcement_toggle {
  background: #4169ad
}
#courts_toggle {
  background: #a53295;
}
#confinement_toggle {
  background: #ca2016;
}
#alternatives_toggle {
  background: #7bcbc2;
}
#infrastructure_toggle {
  background: #fecf01;
}
